Details Users: <%=data.rows.user %>
<table class="table">
    <tr>
        <th scope="col">Usersname</th>
        <td>
            <%=data.rows.username %>
        </td>
    </tr>

    <tr>
        <th scope="col">fullname</th>
        <td>
            <%=data.rows.fullname %>
        </td>
    </tr>

    <tr>
        <th scope="col">dia chi</th>
        <td>
            <%=data.rows.address %>
        </td>
    </tr>

    <tr>
        <th scope="col">gioi tinh</th>
        <td>
            <%=data.rows.sex %>
        </td>
    </tr>

    <tr>
        <th scope="col">email</th>
        <td>
            <%=data.rows.email %>
        </td>
    </tr>
</table>
