<title><%= data.title %></title>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title text-uppercase mb-0">Manage Users</h5>
        </div>
        <div class="table-responsive">
          <table class="table no-wrap user-table mb-0">
            <thead>
              <tr>
                <th
                  scope="col"
                  class="border-0 text-uppercase font-medium pl-4"
                >
                  STT
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Họ Và Tên
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Tài Khoản
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Giới Tính
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Email
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Địa chỉ
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                 Quyền
                </th>
                <th scope="col" class="border-0 text-uppercase font-medium">
                  Hiệu Chỉnh
                </th>
              </tr>
            </thead>
            <tbody>
              <% for(let i=0; i<data.rows.length; i++) { %>
              <tr>
                <td class="pl-4"> <%= i+1 %> </td>
                <td>
                  <span class="text-muted"> <%= data.rows[i].username %> </span>
                </td>
                <td>
                  <span class="text-muted"> <%= data.rows[i].password %> </span>
                 
                </td>
                <td>
                  <span class="text-muted"> <%= data.rows[i].fullname %> </span>
                  
                </td>
                <td>
                  <span class="text-muted"> <%= data.rows[i].address %> </span>
                </td>
                <td>
                  <span class="text-muted"> <%= data.rows[i].sex %> </span>
                </td>
                <td>
                  <span class="text-muted"> <%= data.rows[i].email %> </span>
                </td>
                <td>
                  <button type="button" class="btn btn-outline-info btn-circle btn-lg btn-circle">
                   <a href="/detailUser/<%= data.rows[i].username %>" > <i class="fa fa-eye"></i> </a>
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"
                  >
                    <i class="fa fa-trash"></i>
                  </button>
                  <button
                    type="button"
                    class="btn btn-outline-info btn-circle btn-lg btn-circle ml-2"
                  >
                    <a href="/editUser/<%= data.rows[i].username %>"><i class="fa fa-edit"></i></a>
                  </button>
                </td>
              </tr>
              <% } %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
